spring:
  application:
    name: wise-task-gateway
grpc:
  service:
    graph:
      host: localhost
      port: 6565
    profile:
      host: localhost
      port: 6567
    plugin:
      host: localhost
      port: 6566
    task:
      host: localhost
      port: 6568
server:
  port: 8084
security:
  jwt:
    secret: ======================wise=task=secret===========================
    expiration: 100000000
  cors:
    allowed-origins:
      - "http://localhost:5173" # для теста фронтенда
      - "http://localhost:3000"
    allowed-methods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    allowed-headers:
      - "*"
    allow-credentials: true
    max-age: 3600
logging:
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

management:
  tracing:
    sampling:
      probability: 1
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    enable:
      process: false
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  zipkin:
    tracing:
      endpoint: http://${TEMPO_HOST:localhost}:${TEMPO_PORT:9411}/api/v2/spans
