spring:
  application:
    name: wise-task-gateway
grpc:
  service:
    graph:
      host: wise-task-graph
      port: 6565
    profile:
      host: wise-task-profile
      port: 6567
    plugin:
      host: wise-task-plugin
      port: 6566
    task:
      host: wise-task-task
      port: 6568
server:
  port: 8084

logging:
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

management:
  tracing:
    sampling:
      probability: 1
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  zipkin:
    tracing:
      endpoint: http://${TEMPO_HOST:localhost}:${TEMPO_PORT:9411}/api/v2/spans

